:root {
    --bg-color: #131B29;
    --text-default: #F0F4F8;
    --text-header: #8698aa;
    --text-buy: #00b15d;
    --text-sell: #FF5B5A;
    --hover-bg: #1E3059;
    --bar-buy: rgba(16, 186, 104, 0.12);
    --bar-sell: rgba(255, 90, 90, 0.12);
    --flash-green: rgba(0, 177, 93, 0.5);
    --flash-red: rgba(255, 91, 90, 0.5);
    --price-up: #00b15d;
    --price-down: #FF5B5A;
    --price-same: #F0F4F8;
    --bg-up: rgba(16, 186, 104, 0.12);
    --bg-down: rgba(255, 90, 90, 0.12);
    --bg-same: rgba(134, 152, 170, 0.12);
}